<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>-->

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup">
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConexPing" connectionString="Data Source=DESKTOP\SQLEXPRESS;Initial Catalog=SW15001;User ID=sa;Password=sasa" />
    <add name="SW15001" connectionString="Data Source=DESKTOP\SQLEXPRESS;Initial Catalog=SW15001;User ID=sa;Password=sasa" providerName="System.Data.SqlClient" />
    <add name="PingWpf.Properties.Settings.ConexPing" connectionString="Data Source=DESKTOP\SQLEXPRESS;Initial Catalog=SW15001;User ID=sa;Password=sasa"
      providerName="System.Data.SqlClient" />
    <add name="PingWpf.Properties.Settings.SW15001" connectionString="Data Source=DESKTOP\SQLEXPRESS;Initial Catalog=SW15001;Persist Security Info=True;User ID=sa;Password=sasa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
	<userSettings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>DXStyle</value>
      </setting>
    </DXThemeManager>
  </userSettings>
  <appSettings>
    <add key="idConfiguracionStandar" value="1" />
    <add key="colorRojo" value="#F5A9BC" />
    <add key="colorAmarillo" value="#F2F5A9" />
    <add key="colorVerde" value="#A9F5D0" />
    <add key="nroPingVerde" value="3" />
    <add key="nroPingRojo" value="3" />

    <add key="rutaAlertaAutomatica" value="D:\\" />
    <add key="TiemGeneraDepuracion" value="1000000" /><!-- 1 mes-->
    <add key="SleepAlertas" value="5000" />
  

    <!--<add key="correoAlerta1" value="friquelme@protab.com"/>-->
    <!--<add key="correoAlerta1" value="pancho.alternative@gmail.com"/>-->
    <!--<add key="correoAlerta2" value="pinostroza@protab.com"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>